[submodule "submodules/odoo-union"]
	path = submodules/odoo-union
	url = git@github.com:Mueve-TEC/odoo-union.git
[submodule "submodules/account-reconcile"]
	path = submodules/account-reconcile
	url = git@github.com:OCA/account-reconcile.git
[submodule "submodules/bank-statement-import"]
	path = submodules/bank-statement-import
	url = git@github.com:OCA/bank-statement-import.git
[submodule "submodules/odooapps"]
	path = submodules/odooapps
	url = git@github.com:odoomates/odooapps.git
[submodule "submodules/odoo-argentina"]
	path = submodules/odoo-argentina
	url = https://github.com/Mueve-TEC/odoo-argentina
	branch = 18.0
