version: '3'
services:
  web:
    build:
      context: .
    #image: my-odoo:1.0
    image: my-soltec-odoo:1.0  
    depends_on:
      - db
    ports:
      - "8069:8069"
    volumes:
      #- ./custom-addons:/mnt/extra-addons
      - odoo-web-data:/var/lib/odoo
    environment:
      - HOST=db
      - USER=odoo
      - PASSWORD=odoo    
    networks:
      - odoo-network

  db:
    image: postgres:14
    environment:
      - POSTGRES_USER=odoo
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_DB=postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - odoo-network

  pgadmin:
    image: dpage/pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@hola.com
      - PGADMIN_DEFAULT_PASSWORD=admin           
    depends_on:
      - db
    ports:
      - "5050:80"
    networks:
      - odoo-network
    volumes:
      - pgadmin-data:/var/lib/pgadmin

volumes:
  odoo-web-data:
  postgres-data:
  pgadmin-data:

networks:
  odoo-network:

